/* You can add global styles to this file, and also import other style files */
.tippy-tooltip.holiday-theme {
    background-color: #fdd835;
    color: black;
}

.tippy-tooltip.companyHoliday-theme {
    background-color: #9FB4FF;
    color: black;
}

.tippy-tooltip.vacation-theme {
    background-color: #B6FFCE;
    color: black;
}

.tippy-tooltip.negation-theme {
    background-color: #217C7E;
    color: black;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.holiday-theme .tippy-roundarrow { fill: #fdd835; }
.tippy-popper[x-placement^=left] .tippy-tooltip.holiday-theme .tippy-roundarrow { fill: #fdd835; }
.tippy-popper[x-placement^=top] .tippy-tooltip.holiday-theme .tippy-roundarrow { fill: #fdd835; }
.tippy-popper[x-placement^=bottom] .tippy-tooltip.holiday-theme .tippy-roundarrow { fill: #fdd835; }

.tippy-popper[x-placement^=right] .tippy-tooltip.companyHoliday-theme .tippy-roundarrow { fill: #9FB4FF; }
.tippy-popper[x-placement^=left] .tippy-tooltip.companyHoliday-theme .tippy-roundarrow { fill: #9FB4FF; }
.tippy-popper[x-placement^=top] .tippy-tooltip.companyHoliday-theme .tippy-roundarrow { fill: #9FB4FF; }
.tippy-popper[x-placement^=bottom] .tippy-tooltip.companyHoliday-theme .tippy-roundarrow { fill: #9FB4FF; }

.tippy-popper[x-placement^=right] .tippy-tooltip.vacation-theme .tippy-roundarrow { fill: #B6FFCE; }
.tippy-popper[x-placement^=left] .tippy-tooltip.vacation-theme .tippy-roundarrow { fill: #B6FFCE; }
.tippy-popper[x-placement^=top] .tippy-tooltip.vacation-theme .tippy-roundarrow { fill: #B6FFCE; }
.tippy-popper[x-placement^=bottom] .tippy-tooltip.vacation-theme .tippy-roundarrow { fill: #B6FFCE; }

.tippy-popper[x-placement^=right] .tippy-tooltip.negation-theme .tippy-roundarrow { fill: #217C7E; }
.tippy-popper[x-placement^=left] .tippy-tooltip.negation-theme .tippy-roundarrow { fill: #217C7E; }
.tippy-popper[x-placement^=top] .tippy-tooltip.negation-theme .tippy-roundarrow { fill: #217C7E; }
.tippy-popper[x-placement^=bottom] .tippy-tooltip.negation-theme .tippy-roundarrow { fill: #217C7E; }